<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd ">

    <!--有了这个配置，Spring才能识别注解，如:@Autowired-->
    <context:annotation-config/>

    <!--bean在Spring中就是Java对象，这里的bean配置就是告诉Spring，有哪些Java对象需要处理-->
<!--    <bean id="orderDao" class="Spring.OrderDao"/>-->
<!--    <bean id="orderService" class="Spring.OrderService"/>-->
</beans>